input{
    width: 500px;
    height: 2px;
    background-color: white;
    border: none;
    padding: 15px;
    margin-top: 15px;
   
}


select{
   width: 100px;
   height: 40px;
   background-color: white;
   border: none;
   padding-left: 15px;


   
}

#btn{
    margin-left: 50px;
    margin-top: 15px;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    background-color: green;
}