body{
    background-color:whitesmoke;
    font-family: "lato";
  }
  



.Priority-item{
    display: flex;
    background-color: white;
    color: black;
    width: 750px;
    height: 50px;
    margin-top: 11px;
    border-radius: 10px;
}
.Priority-itemH{
border-bottom: 5px solid red;
display: flex;
justify-content: space-between ;
border-radius: 5px;
box-shadow: 2px 2px 5px .5px gray;
}
.Priority-itemM{
    border-bottom: 5px solid yellow;
    display: flex;
    justify-content: space-between ;
    border-radius: 5px;
    box-shadow: 2px 2px 5px .5px gray;
   
}
.Priority-itemL{
    border-bottom: 5px solid green;
    display: flex;
    justify-content: space-between ;
    border-radius: 5px;
    box-shadow: 2px 2px 5px .5px gray;
   
 
}

.items{
    padding: 5px;
}