
.home{
    margin: auto;
    width: 60%;
    
}
.btn{
    position: absolute;
    right: 80px;
   box-sizing: border-box;
   border: 2px solid lightseagreen;
   border-radius: 4px;
   font-size: 16px;
   background-color: lightseagreen;
   padding: 12px 12px 12px 12px;
   color: whitesmoke;
}

 
   
  
