

.Main{
display: grid;
grid-template-columns: 50%  50%;
width: 100vw;
height: 100vh;
}

 
.Image{
  background: url('../image/back.jpg');
  background: cover ;
}

.Login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}







.Btn{
    background-color: green;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
  }

 